<%= link_to 'Edit', edit_crawler_path(@crawler) %> |<%#= link_to 'Back', crawlers_path %>
<div class="row">
  <div class="col-md-6">
    <div class="field">
      <%= label @crawler, :parametrize %><br />
      <pre><%= @crawler.indentation_parametrize %></pre>
    </div>
  </div>
  <div class="col-md-6">
    <a class="btn btn-default" href="#" onclick="test_parametrize()" role="button">Test</a>
    <pre id="result" name="result"></pre>
  </div>
</div>
<pre>
# for help users
http://www.nokogiri.org/tutorials/searching_a_xml_html_document.html
http://www.w3schools.com/xpath/xpath_axes.asp
http://www.w3.org/TR/xpath/#axes
</pre>

<script>
function test_parametrize(){
  $.ajax({
    method: "GET",
    url: "crawler.text"
  })
  .done(function( str_msg ) {
    console.log(a = str_msg);
    //$("#result").html( jQuery.parseJSON(msg.links) );
    $("#result").html(str_msg);
  });
};
</script>
