<p>Monitoring informations from the internet and have them in your e-mail.</p>
<%= link_to 'Edit', edit_crawler_path(@crawler) %> <%#= link_to 'Back', crawlers_path %>
<div class="row" style="padding-bottom: 5px;">
  <div class="col-md-6">
    <%= label @crawler, :parametrize %><br />
  </div>
  <div class="col-md-6">
    <a class="btn btn-default" href="#" id="test" onclick="test_parametrize()" role="button">See value(s)</a>
  </div>
</div>
<Div class="row">
  <div class="col-md-6">
    <div class="field">
      <%= ap(@crawler.parametrize, {html:true, index:false}).html_safe %>
      <%#= @crawler.indentation_parametrize %>
    </div>
  </div>
  <div class="col-md-6">
    <div id="result" name="result"></div>
  </div>
</div>
<pre>
# for help users
http://www.nokogiri.org/tutorials/searching_a_xml_html_document.html
http://www.w3schools.com/xpath/xpath_axes.asp
http://www.w3.org/TR/xpath/#axes
</pre>

<script>
function test_parametrize(){
  $.ajax({
    method: "GET",
    url: "crawler.text",
    beforeSend: function(){$("#modal-overlay").show();},
    complete: function(){$("#modal-overlay").hide();},
  })
  .done(function( str_msg ) {
    //console.log(a = str_msg);
    //$("#result").html( jQuery.parseJSON(msg.links) );
    $("#result").html(str_msg);
    $('#test').text("Tested");
  });
};
</script>
